<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Bilgisayarlar</h2>
        </div>
    </div>
    <div class="row">   
        <div class="col-sm-12">
            <div class="list-group">
                <% for(var brand in computerBrands) { %>
                    <a href="" class="list-group-item list-group-item-action"><%= computerBrands[brand] %></a>
                <% } %>
            </div>
        </div>
    </div>
</div>